.quiz-play-holder {
    width: 70%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;

}
.category-section, .user-section{
    display: inline-block;
}
.user-section{
    width: 30%;
    vertical-align: top;
    margin-left: 10%;
    text-align: left;
}

.category-holder {
    margin-top: 0px;
    font-size: 24px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}


.add-user{
    text-align: left;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: dodgerblue;
    cursor: pointer;
    text-decoration: underline;
}
.play-category{
    margin-bottom: 1rem;
}

.select-category:hover{
    cursor: pointer;
    text-decoration: underline;
    color: dodgerblue;
}

.add-user-btn{
    width: 100px;
    margin-top: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 3px 5px;
    align-self: normal;
    border-radius: 5px;
}

.button {
    width: 100px;
    margin-top: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 3px 5px;
    align-self: center;
    border-radius: 5px;
}
.button:hover, ul:hover{
    cursor: pointer;
}

div.button {
    margin-top: 20px;
    margin-left: calc(50% - 50px);
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}